{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict the price</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="number" name="crim" id="crim" placeholder="Crime rate">
            <input type="number" name="zn" id="zn" placeholder="proportion of residential land">
            <input type="number" name="indus" id="indus" placeholder="proportion of non-retail business">
            <input type="number" name="chas" id="chas" placeholder="Charles river dummy">
            <input type="number" name="nox" id="nox" placeholder="Nitric oxides concentration">
            <input type="number" name="rm" id="rm"placeholder="average room" step="any">
            <input type="number" name="age" id="age" placeholder="AGE" step="any">
            <input type="number" name="dis" id="dis" placeholder="Weighted distance" >
            <input type="number" name="rad" id="rad" placeholder="index of accessiblity of highway" >
            <input type="number" name="tax" id="tax"placeholder="property tax" >
            <input type="number" name="ptratio" id="ptratio" placeholder="pupil teacher ratio" >
            <input type="number" name="b" id="b" placeholder="proportion of blacks" >
            <input type="number" name="lstat" id="lstat" placeholder="lower status of the population" >


            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}